.button {
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.custom-popup {
    padding: 20px;
    background: #ccc;
    width: 28%;
    position: relative;
    transition: all 5s ease-in-out;
}

.custom-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.custom-popup .custom-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.custom-popup .custom-close:hover {
    color: #06d85f;
}
.custom-popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .custom-popup {
        width: 70%;
    }
}
