<div id="custom" class="overlay">
    <div class="custom-popup">
        <h2>Customize the theme</h2>
        <a class="custom-close" href="#">&times;</a>
        <div class="content">
            <form>
                <div>
                    background-color:
                    <input type="text" name="background-color" value="rgba(100, 91, 91, 0.7)">
                </div>
                <div>
                    main-text-color:
                    <input type="text" name="main-text-color" value="#aaa">
                </div>
                <button type="submit" class="custom-submit">Submit</button>
              </form>
        </div>
    </div>
</div>
