<div class="account-popup relative" data-account-state="">
    <div class="cart__loader-container" data-account-loader="">
        <div class="lds-dual-ring"></div>
    </div>
    <div class="account-popup__close pointer" data-close-account="">
        <svg aria-hidden="true" class="icon icon-croix" focusable="false" role="presentation" viewbox="0 0 12.31 12.311">
            <g fill="none" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="#807672">
                <path d="M11.56.75L.75 11.561M11.56 11.558L.75.75"></path>
            </g>
        </svg>
    </div>
    <div class="account-popup__container" data-account-container="">
        <div class="account-popup__container">
            <img class="account-popup__image" src="images/chien-chat.png">
            <div class="account-popup__title z-h4 heading">
                Connexion / Inscription.
            </div>
            <div class="account-popup__subtitle text t-4">
                <p>Renseignez&nbsp;votre adresse email&nbsp;pour&nbsp;continuer.</p>
            </div>
            <div class="account-popup__error" data-account-error=""></div>
            <div class="account-popup__inputs-container ">
                <input class="input-text" data-email-input="" placeholder="Votre email" type="email">
            </div>
            <div class="account-popup__button">
                <button class="button button--full button--secondary button--disabled" data-email-button="" disabled="">Valider</button>
            </div>
        </div>
    </div>
</div>
