<div class="account-popup relative" name="account-popup">
    <div class="account-popup__content">
        <div class="cart__loader-container" data-account-loader="" style="display: none;">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="account-popup__close-popup">+</div>
        <div class="account-popup__container"></div>
    </div>
</div>
