.account-popup {
    background-color: white;
    text-align: center;
    padding: 22px;
    padding-bottom: 32px;
    max-width: 530px;
}
.account-popup__error {
    display: none;
    margin: auto;
    width: 100%;
    line-height: 22px;
    padding: 7px 0;
    border-radius: 3px;
    margin-bottom: 5px;
}

.account-popup__final-message {
    display: none;
}
.account-popup--final-state {
    .account-popup__initial-message {
        display: none;
    }
    .account-popup__final-message {
        display: block;
    }
}
.account-popup__close {
    float: right;
    svg {
        width: 15px;
        height: 15px;
    }
}
.account-popup__image {
    width: 180px;
}
.account-popup__checkbox {
    margin-right: 10px;
}

.account-popup__mandatory-container {
    margin-top: 10px;
}
.account-popup__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.account-popup__subtitle {
    margin: 18px 0;
}
.account-popup__inputs-container {
    margin-bottom: 10px;
    .input-text {
        border-bottom: 1px solid;
        padding-left: 2px;
        margin-bottom: 13px;
        &::placeholder {
            text-transform: uppercase;
        }
    }
}
