<img class="account-popup__image" src="images/chien-chat.png">
<div class="account-popup__title z-h4 heading">
    {{title}}
</div>
<div class="account-popup__subtitle text t-4">
    <p>{{subtitle}}</p>
</div>
<div class="account-popup__error" data-account-error=""></div>
<div class="account-popup__inputs-container ">
    <input class="input-text" name="email" placeholder="{{email_placeholder}}" type="email">
</div>
<div class="account-popup__button">
    <button class="button button--full button--secondary" disabled="">{{signin_button_text}}</button>
</div>
