<img class="account-popup__image" src="images/chien-chat.png">
<div class="account-popup__title z-h4 heading">
    Connexion / Inscription.
</div>
<div class="account-popup__subtitle text t-4">
    <p>Renseignez&nbsp;votre adresse email&nbsp;pour&nbsp;continuer.</p>
</div>
<div class="account-popup__error" data-account-error=""></div>
<div class="account-popup__inputs-container ">
    <input class="input-text" data-email-input="" placeholder="Votre email" type="email" value="antonio@studiozerance.fr">
</div>
<div class="account-popup__button">
    <button class="button button--full button--secondary" data-email-button="" disabled="">Valider</button>
</div>
