*,
*::before,
*::after {
    box-sizing: border-box;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content-modal {
    width: 500px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

.z-h4,
.rte h4,
.section-page .rte h2,
.article .rte h2 {
    font-size: 1.875rem;
    letter-spacing: 0.59px;
    line-height: 36px;
}

.content-modal .input-text {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 100%;
    font: 400 13.3333px Arial;
}

.content-modal button {
    padding: 10px;
    width: 100%;
}
