<img class="account-popup__image" src="images/Chien-16.png">
<div class="account-popup__title z-h4 heading">
    Création de compte.
</div>
<div class="account-popup__subtitle text t-4">
    <p>Renseignez&nbsp;vos informations&nbsp;pour créer votre compte Franklin.</p>
</div>
<div class="account-popup__error" data-account-error=""></div>
<form class="account-popup__inputs-container " data-register-form="">
    <input class="input-text" data-register-mail="" name="email" placeholder="Votre email" type="email">
    <input class="input-text" name="firstName" placeholder="Votre prénom" type="text">
    <input class="input-text" name="lastName" placeholder="Votre nom" type="text">
    <input class="input-text" data-register-password="" name="password" placeholder="Votre mot de passe" type="password">
    <input class="input-text" data-register-confirmation="" name="confirm_password" placeholder="Confirmez votre mot de passe" type="password">
</form>
<div class="account-popup__button">
    <button class="button button--full button--secondary button--disabled" data-register-button="">Créer un compte</button>
</div>
<div class="account-popup__checkbox-container">
    <input class="account-popup__checkbox" data-register-newscheck="" name="accepts_marketing" type="checkbox">
    <div class="text t-5 uppercase pointer" data-register-newstext="">
        Je m'inscris à la newsletter Franklin
    </div>
</div>
<div class="account-popup__mandatory-container align-right">
    <div class="text t-6 italic"></div>
</div>
